
<div *ngIf="!showForecast">
  <table style="font-size: 1.1em; width: 320px">
    <tr main-weather-card [temp]="temp" [icon]="icon"></tr>
    <tr weather-conditions-card
        [city]="city"
        [description]="description"
        [feelsLike]="feelsLike"
        [humidity]="humidity"
        [sunrise]="sunrise"
        [sunset]="sunset"
        style="font-size: x-large">
    </tr>
    <tr current-time-card [time]="time" [date]="date">
    </tr>
    <tr>
      <td colspan="6">
        <div *ngIf="city" style="font-size: 1.5em; text-align: center">{{city}}</div>
      </td>
    </tr>
    <tr app-forecast-card
        [time]="forecastList[1].dt"
        [description]="forecastList[1].weather[0].description"
        [humidity]="forecastList[1].main.humidity"
        [temp]="forecastList[1].main.temp"
        [feelsLike]="forecastList[1].main.feels_like"
        [dayOfWeekToShow]="dayOfWeek(forecastList[1].dt * 1000, true)"
        [icon]="forecastList[1].weather[0].icon"
        style="font-size: 1.3em; background: #111"></tr>
    <tr app-forecast-card
        [time]="forecastList[8].dt"
        [description]="forecastList[8].weather[0].description"
        [humidity]="forecastList[8].main.humidity"
        [temp]="forecastList[8].main.temp"
        [feelsLike]="forecastList[8].main.feels_like"
        [dayOfWeekToShow]="dayOfWeek(forecastList[8].dt * 1000, true)"
        [icon]="forecastList[8].weather[0].icon"
        style="font-size: 1.3em; background: #222"></tr>
  </table>
</div>
<div *ngIf="showForecast">
  <table style="font-size: 1.4em; width: 320px">
    <tr>
      <td colspan="2">&nbsp;</td>
      <td colspan="2" style="font-weight: bolder">{{city}}</td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr app-forecast-card
        [currentWeather]="true"
        [time]="time"
        [description]="description"
        [humidity]="humidity"
        [temp]="temp"
        [feelsLike]="feelsLike"
        [icon]="iconMini"></tr>

    <ng-container *ngFor="let item of forecastList; index as i;">
      <tr app-forecast-card
          *ngIf="i % 4 == 0"
          [time]="item.dt"
          [description]="item.weather[0].description"
          [humidity]="item.main.humidity"
          [temp]="item.main.temp"
          [feelsLike]="item.main.feels_like"
          [dayOfWeekToShow]="dayOfWeek(item.dt * 1000)"
          [icon]="item.weather[0].icon"
          [ngStyle]="{'background-color': !!dayIndex(item.dt * 1000) ? '#151515' : '#0A0A0A' }"></tr>
    </ng-container>
  </table>
</div>
